.overflow-unset {
    overflow: unset;
}

.title-banner {
    margin-top: 10px;

    h1 {
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 0.33px;
        text-align: center;
    }
}

.card-banner-auth {
    background: url("^assets/img/mask.svg");
    height: 100vh;
    background-color: #0796e5;
    font-family: Proxima Nova;
    background-size: cover;
    padding: unset;
}

@media only screen and (max-width: 767px) {
    .bg-mobile {
        background: url("^assets/img/mask.svg");
        background-color: #0796e5;
        font-family: Proxima Nova;
        background-size: cover;
    }
}

.content-padding {
    padding-left: 40px;
    padding-right: 40px;

    .title-content {
        margin-top: 35px;
        color: #18266A;
        margin-bottom: 14px;
    }

    .subtitle-content {
        font-size: 28px;
        color: #000037;
        font-weight: bolder;
        font-family: Proxima Nova;
        text-align: left;
    }

    .subtitle {
        color: #000037;
        text-align: left;
        font-family: Proxima Nova;
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 20px;
    }
}

.image {
    width: 80px;
    height: 80px;
}

.w-label {
    width: 250px;
}

.squre {
    width: 50px;
    height: 50px;
    border: 5px dashed #2B427C;
    border-right: unset;
    border-top: unset;
    margin-top: -2%;

    @media only screen and (max-width: 767px){
        border-bottom: unset;
        margin-left: 30px;
    }
}

.pl-img-3 {
    padding-left: 10rem;

    @media only screen and (max-width: 767px){
        padding-left: 0px;
    }
}

.padding-button {
    margin-top: 3rem;
    margin-left: 14rem;

    @media only screen and (max-width: 767px){
        text-align: -webkit-center;
        text-align: center;
        text-align-last: center;
        margin-left: 0px;
    }
}

.display-grid {
    display: grid;
}

@media only screen and (max-width: 767px) {
    .justify-items-center {
        justify-items: center;
    }
}
